* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  background-color: #1a613c;
  color: white;
  background-size: fill;
  padding: 4em 0 4em 0;
  background-image: url("./img/pexels-thomas-b-270703-814898.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2em;
  padding: 10em 0 10em 0;
}
.header > h1 {
  font-size: 3em;
  padding-bottom: 1em;
  margin-top: 0.5em;
  margin-left: 2em;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #efe9e6;
}

#savannah,
#jungle,
#aquarium,
#reptileHouse {
  background-color: #1a613c;
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

#savannah {
  background-image: url("./img/pexels-ugandainpictures-26617399.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#jungle {
  background-image: url("./img/pexels-davidriano-975771.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#aquarium {
  background-image: url("./img/pexels-dbaler-10127369.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#reptileHouse {
  background-image: url("./img/pexels-vladvictoria-3767714.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  border-radius: 100%;
  text-align: center;
}

#enclosures {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #1a613c;
}

#enclosures h2 {
  text-align: center;
  padding-bottom: 1.5em;
}

#animal-form {
  background-color: #1a613c;
  margin: 7em;
  padding: 3em;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type="submit"] {
  background-color: #ab2061;
  color: white;
  border-style: none;
  border-radius: 5px;
  padding: 1em;
  margin-left: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input {
  background-color: white;
  border-style: none;
  border-radius: 20px;
  padding: 0.5em;
  margin-left: 0.5em;
}

select {
  background-color: white;
  border-style: none;
  border-radius: 5px;
  padding: 1em;
  margin-left: 0.5em;
}
